[Unit]
Description=mariadb-columnstore

[Service]
Type=oneshot

# Execute a dummy program
ExecStart=/usr/bin/mariadb-columnstore-start.sh
ExecStop=/usr/bin/mariadb-columnstore-stop.sh

# This service shall be considered active after start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
