[Unit]
Description=storagemanager
PartOf=mcs-workernode.service
Before=mcs-workernode.service
ConditionPathExists=/etc/columnstore/storagemanager.cnf
# FailureAction="exit"
# FailureActionExitStatus=0

[Service]
Type=simple
ExecStartPre=/usr/bin/mcs-start-storagemanager.py
ExecStart=/usr/bin/env bash -c "LD_PRELOAD=$(ldconfig -p | grep -m1 libjemalloc | awk '{print $1}') exec /usr/bin/StorageManager"
ExecStop=/usr/bin/env bash -c "kill -15 $MAINPID"

[Install]
WantedBy=mcs-workernode.service
