[Unit]
Description=mcs-workernode
After=mcs-loadbrm.service

[Service]
Type=simple
ExecStart=/usr/bin/workernode DBRM_Worker1 fg
Restart=on-failure
ExecStop=/usr/bin/env bash -c "kill -15 $MAINPID"
ExecStopPost=-/usr/bin/save_brm
ExecStopPost=/usr/bin/env bash -c "clearShm > /dev/null 2>&1"
TimeoutStopSec=5
